body {
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    padding: 0px;
    margin: 0px;
    height: 1000px;
    width: 1000px;
    border: 1px solid black;
}

.column {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    align-content: stretch;
    padding: 0px;
    margin: 0px;
    border: 0px;
}

.cell {
    flex-direction: column;
    flex: 1 1 auto;
    padding: auto;
    margin: 0px;
    border: 0px;
    background-color: white;
    border: 1px solid black;
}