body {
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0px;
    margin: 0px;
    height: auto;
    width: auto;
    border: 1px solid black;
}

.column {
    padding: 0px;
    margin: 0px;
    border: 0px;
    height: auto;
    width: auto;
}

.cell {
    padding: 10px;
    margin: 0px;
    border: 0px;
    height: auto;
    width: auto;
    background-color: white;
    border: 1px solid black;
}